:root {
  --primary-color: #fff;
  --secondary-color: #fff;
  --blue-color: #00a2e8;
  --yellow-color: #ffc90e;
  --max-width: 1100px;
  --menu-width: 80%;
}

/* button */
.btn {
  background-color: transparent;
  border: 3px solid #fff;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 2rem;
}

.btn:active {
  background: #fff;
  color: #333;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

/* color */
.text-secondary {
  color: var(--secondary-color);
}

.text-blue {
  color: var(--blue-color);
}

.text-yellow {
  color: var(--yellow-color);
}

.bg-dark {
  background: #333;
  color: #fff;
}

/* Container */
.container {
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}

/* Effect */
.blur {
  filter: blur(2px);
}

/* Modal */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  padding: 1rem;
  -webkit-animation-name: modalshow;
  -webkit-animation-duration: 0.4s;
  animation-name: modalshow;
  animation-duration: 0.4s;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.modal .modal-body {
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.close {
  color: #aaa;
  font-size: 2rem;
}

.close:hover,
.close:active {
  color: #333;
}

@-webkit-keyframes modalshow {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalshow {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* form */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #666;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.4rem;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.form-group input:focus {
  border: 1px solid var(--blue-color);
}

/* padding */
.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 0.8rem 0;
}

.py-3 {
  padding: 1.3rem 0;
}

.row {
  display: flex;
}
